* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
  overflow-x: hidden;
}

.navbar {
  width: 88%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}

.logo {
  width: 170px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 45px;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-size: 22px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #2a8cff;
}

.btn {
  text-decoration: none;
  color: #fff;
  padding: 18px 42px;
  border-radius: 40px;
  font-size: 22px;
  font-weight: 500;
  background: linear-gradient(90deg, #1ad9ee, #2b79ff);
}

.hero {
  position: relative;
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  border: 8px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(180deg, #3fe9ef, #687dff) border-box;
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.hero-content h1 {
  font-size: 95px;
  line-height: 1.15;
  font-weight: 800;
  color: #000;
}

.hero-content p {
  margin: 30px 0 45px;
  font-size: 31px;
  color: #222;
}

.left-bottle,
.right-bottle {
  position: absolute;
  bottom: 45px;
}

.left-bottle {
  left: 110px;
}

.right-bottle {
  right: 110px;
}

.small-circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: linear-gradient(180deg, #47e6e9, #6881ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-bottle img {
  width: 105px;
  transform: rotate(-14deg);
}

.right-bottle img {
  width: 120px;
  transform: rotate(14deg);
}

@media (max-width: 1200px) {
  .hero-content h1 {
    font-size: 70px;
  }

  .circle {
    width: 520px;
    height: 520px;
  }

  .left-bottle,
  .right-bottle {
    display: none;
  }

  .nav-links {
    gap: 25px;
  }

  .nav-links a {
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  .navbar {
    flex-direction: column;
    gap: 30px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero {
    height: 700px;
  }

  .circle {
    width: 420px;
    height: 420px;
  }

  .hero-content h1 {
    font-size: 50px;
  }

  .hero-content p {
    font-size: 20px;
  }
}
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.categories-left {
  position: relative;
  background: #f8ebe4;
  overflow: hidden;
}

.hand-bottle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-bottle {
  position: absolute;
  bottom: 0;
  right: -40px;
  height: 82%;
}

.categories-center {
  position: absolute;
  right: 47.3%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-right {
  background: #20292c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  padding-left: 170px;
}

.item {
  display: flex;
  align-items: center;
  gap: 28px;
  cursor: pointer;
  transition: 0.3s;
}

.item:hover {
  transform: translateX(12px);
}

.item img {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: #fff;
}

.item h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 400;
}

@media (max-width: 1100px) {
  .categories {
    grid-template-columns: 1fr;
  }

  .categories-left {
    height: 700px;
  }

  .center-bottle {
    height: 70%;
  }

  .categories-right {
    padding: 80px 40px;
    gap: 50px;
  }

  .item h2 {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .categories-left {
    height: 500px;
  }

  .center-bottle {
    display: none;
  }

  .item {
    gap: 20px;
  }

  .item img {
    width: 60px;
    height: 60px;
  }

  .item h2 {
    font-size: 22px;
  }
}
.products {
  width: 90%;
  margin: 120px auto;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.products-header h2 {
  font-size: 64px;
  font-weight: 700;
  color: #1f1f1f;
  margin-bottom: 10px;
}

.products-header p {
  font-size: 28px;
  color: #666;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  border-radius: 28px;
  transition: 0.4s;
}

.card:hover img {
  transform: translateY(-10px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.18);
}

.card h3 {
  margin: 22px 0;
  font-size: 42px;
  font-weight: 600;
  color: #222;
}

.card .btn {
  width: 210px;
  text-align: center;
  padding: 16px 0;
}

@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .products-header h2 {
    font-size: 48px;
  }

  .products-header p {
    font-size: 22px;
  }

  .card h3 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .products {
    width: 94%;
  }

  .products-header {
    flex-direction: column;
    gap: 30px;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }

  .products-header h2 {
    font-size: 38px;
  }

  .products-header p {
    font-size: 18px;
  }

  .card h3 {
    font-size: 26px;
  }

  .card .btn {
    width: 180px;
  }
}
.about {
  position: relative;
  padding: 110px 8%;
  background: url("image/back ground.png") center/cover no-repeat;
  overflow: hidden;
}

.about-overlay {
  position: absolute;
  inset: 0;
  background: rgba(25, 33, 41, 0.88);
}

.about-content {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.about-left h2 {
  font-size: 72px;
  color: #fff;
  margin-bottom: 20px;
}

.about-left h4 {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.about-left p {
  color: #ececec;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 45px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.feature-card {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 35px;
  padding: 32px 38px;
  border-radius: 28px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0),
    rgba(239, 230, 230, 0.245)
  );
  backdrop-filter: blur(6px);
}

.feature-card span {
  font-size: 74px;
  font-weight: 700;
  color: #fff;
  min-width: 60px;
}

.feature-card h3 {
  color: #fff;
  font-size: 33px;
  line-height: 1.45;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .about-content {
    grid-template-columns: 1fr;
  }

  .about-left h2 {
    font-size: 54px;
  }

  .about-left p {
    font-size: 20px;
  }

  .feature-card h3 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 80px 6%;
  }
  .about-left h2 {
    font-size: 42px;
  }
  .about-left h4 {
    font-size: 18px;
  }
  .about-left p {
    font-size: 17px;
    line-height: 1.8;
  }
  .feature-card {
    padding: 25px;
    gap: 22px;
  }
  .feature-card span {
    font-size: 50px;
  }
  .feature-card h3 {
    font-size: 20px;
  }
}
.faq {
  background: #f3f3f3;
  padding: 120px 0;
}
.faq-container {
  width: 88%;
  margin: auto;
  background: #fff;
  border-radius: 35px;
  overflow: hidden;
}
.faq-item {
  border-bottom: 2px solid #ececec;
}
.faq-item:last-child {
  border: none;
}
.faq-head {
  display: flex;
  align-items: flex-start;
  gap: 45px;
  padding: 45px 55px;
}
.number {
  font-size: 64px;
  font-weight: 700;
  color: #a7a7b2;
  min-width: 90px;
}
.faq-title {
  flex: 1;
}
.faq-title h3 {
  font-size: 46px;
  color: #222;
  margin-bottom: 20px;
}
.faq-title p {
  font-size: 24px;
  color: #666;
  line-height: 1.8;
  max-width: 950px;
}
.toggle {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  background: #f2f2f2;
  font-size: 36px;
  cursor: pointer;
  transition: 0.3s;
}
.faq-item.active .toggle {
  background: linear-gradient(90deg, #16d8ee, #2a82ff);
  color: #fff;
}
.faq-item:not(.active) .faq-title p {
  display: none;
}
@media (max-width: 992px) {
  .faq-head {
    padding: 35px;
    gap: 25px;
  }
  .number {
    font-size: 42px;
    min-width: 55px;
  }
  .faq-title h3 {
    font-size: 28px;
  }
  .faq-title p {
    font-size: 18px;
  }
  .toggle {
    width: 50px;
    height: 50px;
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .faq-head {
    flex-wrap: wrap;
  }
  .toggle {
    margin-left: auto;
  }
}
.contact {
  width: 99%;
  border-radius: 35px;
  background: #222;
  padding: 0;
  margin: 20px auto 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 760px;
  overflow: hidden;
}
.contact-left {
  background: linear-gradient(rgba(133, 133, 133, 0));
}
.contact-right {
  padding: 90px 80px;
  background: linear-gradient(rgba(32, 31, 31, 1));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-right h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact-right p {
  color: #d9d9d9;
  font-size: 22px;
  line-height: 1.8;
  margin-bottom: 50px;
  max-width: 620px;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.input-group label {
  color: #fff;
  font-size: 22px;
  margin-bottom: 12px;
}
.input-group input,
.input-group textarea {
  width: 100%;
  background: #3a3636;
  border: 2px solid #6c6c6c;
  color: #fff;
  font-size: 20px;
  padding: 22px 28px;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}
.input-group textarea {
  height: 170px;
  resize: none;
}
.input-group input::placeholder,
.input-group textarea::placeholder {
  color: #9b9b9b;
}
.input-group input:focus,
.input-group textarea:focus {
  border-color: #23c9ff;
}
.contact .btn {
  border: none;
  cursor: pointer;
  width: 220px;
  padding: 20px 0;
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .contact {
    grid-template-columns: 1fr;
  }

  .contact-left {
    display: none;
  }

  .contact-right {
    padding: 70px 50px;
  }

  .contact-right h2 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .contact {
    width: 95%;
  }

  .contact-right {
    padding: 45px 25px;
  }

  .contact-right h2 {
    font-size: 36px;
  }

  .contact-right p {
    font-size: 18px;
  }

  .input-group label {
    font-size: 18px;
  }

  .input-group input,
  .input-group textarea {
    font-size: 16px;
    padding: 18px;
  }

  .contact .btn {
    width: 180px;
    font-size: 20px;
  }
}
.footer {
  background: #242120;
  padding: 70px 8%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
}

.footer-logo {
  width: 300px;
  margin-bottom: 55px;
}

.socials {
  display: flex;
  gap: 18px;
}

.socials a {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #5a5a5a;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: 0.3s;
}

.socials a:hover {
  background: #1caeff;
  transform: translateY(-5px);
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.footer-right ul {
  display: flex;
  gap: 70px;
  list-style: none;
  flex-wrap: wrap;
}

.footer-right a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  transition: 0.3s;
}

.footer-right a:hover {
  color: #1caeff;
}

@media (max-width: 992px) {
  .footer { 
    flex-direction: column;
  }

  .footer-right ul {
    gap: 35px;
  }

  .footer-right a {
    font-size: 18px;
  }

  .footer-logo {
    width: 230px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 25px;
  }

  .footer-right ul {
    flex-direction: column;
    gap: 20px;
  }

  .socials a {
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
}
